.formContainer {
  width: 625px;
  text-align: center;
  margin: 180px auto 0 auto;
  color: #4B3621;

}
.buttonLink, .buttonLink:visited  {
  background-color: #444444; /* this is supposed to be the defaukt button color */
  color: #F0F0F0;
  text-decoration: none;
  border: solid;
  appearance: button;
  cursor: pointer;
}
.buttonContainer {
  margin: 20px 0 0 0;
}
.warning {
  color: red;
  border-color: red;
  border-width: 2px;
}
.warning:focus {
  outline-style: solid;
  outline-width: 2px !important;
  outline-color: red !important;
}
.textInput {
  padding: 10px;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}
.textInput:focus {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #A0A0A0;
}
.multiline {
  font-family: 'Poppins', sans-serif;
  width: 100%;
}
.submit {
  width: 300px;
  margin-top: 10px;
  padding: 10px 20px;
  color: #F0F0F0;
  background-color: #4B3621;
  border-radius: 10px;
  border-style: solid;
  border-color: #4B3621;
  cursor: pointer;
}
.label {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .formContainer {
    width: 80%;
    margin-top: 200px;
  }
  .submit {
    width: 100%;
  }
}