<style>
  .menu {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .buttonLink {
    background-color: gray; /* this is supposed to be the defaukt button colof */
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
  }
</style>

<div class="menu">

  <a id="add" class="buttonLink" routerLink="/AddRecipe">Adicionar receita</a>
  <a id="see" class="buttonLink" routerLink="/ListRecipe">Ver receitas</a>
 
</div>