<style>
  .menu {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .buttonLink, .buttonLink:visited  {
    background-color: #444444; /* this is supposed to be the defaukt button color */
    color: #F0F0F0;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
  }
</style>

<div class="menu">

  <h1>Catálogo de Receitas</h1>
  <p>Organize todas as suas receitas em um só lugar!</p>
 
</div>