<div class="list" *ngIf="route.children.length === 0">
 <h1>Listagem de Receitas</h1>
 <div class="recipe" *ngIf="recipes.length === 0">
    <p>
      Não há receitas para exibir. Que tal 
      <a routerLink="/add">Cadastrar uma nova receita</a>?
    </p>
 </div>
 <div class="recipe" *ngFor="let recipe of recipes">
    <h2 class="title">{{recipe.name}}</h2>
    <div class="buttonsContainer">
      <a class="buttonLink" [routerLink]="['/details', recipe.id]">Ver mais</a> 
      <a class="buttonLink" [routerLink]="['/edit', recipe.id]">Editar</a> 
      <a class="buttonLink" (click)="delete(recipe.id)">Excluir</a> 
    </div>
 </div>
</div>

<router-outlet></router-outlet>