<style>
  .menu {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .buttonLink, .buttonLink:visited  {
    background-color: #444444; /* this is supposed to be the defaukt button color */
    color: #F0F0F0;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
  }

</style>

<div class="menu">
 <h1>Listagem de Receitas</h1>
 <div *ngFor="let recipe of recipes">
    <h2>{{recipe.name}}</h2>
    <a class="buttonLink" [routerLink]="'view?id=' + recipe.id">Ver mais</a> 
    <a class="buttonLink" [routerLink]="'edit?id=' + recipe.id">Ver mais</a> 
    <button class="buttonLink">Excluir</button> 
 </div>
</div>