.list {
  width: 100%;
  text-align: center;
  margin: 180px auto auto auto;
  color: #4B3621;
}
.title {
  min-width: 100px;
  padding: 0;
}
.buttonLink, .buttonLink:visited  {
  appearance: button;
  width: 102px;
  margin: 0px;
  padding: 10px 20px;
  color: #F0F0F0;
  text-decoration: none;
  background-color: #4B3621;
  border-radius: 10px;
  border-style: solid;
  border-color: #4B3621;
  cursor: pointer;
}
.buttonsContainer {
  display: flex;
  gap: 25px;
}
.recipe {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px 0;
}
.recipe::after {
  content: "";
  background: #4B3621;
  width: 900px;
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  .recipe {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .recipe {
    flex-direction: column;
    gap: 0;
  }

}
@media screen and (max-width: 576px) {
  .buttonsContainer {
    flex-direction: column;
    gap: 0;
  }
}
