<style>
  .list {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .buttonLink, .buttonLink:visited  {
    background-color: #444444; /* this is supposed to be the defaukt button color */
    color: #F0F0F0;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
  }
  .buttonsContainer {
    display: flex;
    gap: 25px;
  }
  .recipe {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

</style>

<div class="list" *ngIf="route.children.length === 0">
 <h1>Listagem de Receitas</h1>
 <div class="recipe" *ngIf="recipes.length === 0">
    <p>
      Não há receitas para exibir. Que tal 
      <a routerLink="/add">Cadastrar uma nova receita</a>?
    </p>
 </div>
 <div class="recipe" *ngFor="let recipe of recipes">
    <h2>{{recipe.name}}</h2>
    <div class="buttonsContainer">
      <a class="buttonLink" [routerLink]="['/details', recipe.id]">Ver mais</a> 
      <a class="buttonLink" [routerLink]="['/edit', recipe.id]">Editar</a> 
      <button class="buttonLink" (click)="delete(recipe.id)">Excluir</button> 
    </div>
 </div>
</div>

<router-outlet></router-outlet>