.list {
  width: 100%;
  text-align: center;
  margin: 180px auto auto auto;
  color: #4B3621;
  margin-bottom: 40px;
}
.title {
  min-width: 100px;
  float: left;
  text-align: left;
}
.buttonLink, .buttonLink:visited  {
  appearance: button;
  width: 102px;
  margin: 0px;
  padding: 10px 20px;
  text-decoration: none;
}
.buttonsContainer {
  display: flex;
  gap: 25px;
}
.recipe {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin: 0 14%;
  padding: 0 2%;
}
.recipe::after {
  content: "";
  background: #4B3621;
  width: 100%;
  display: block;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.noRecipe {
  width: 100%;
  text-align: center;
}
.link, .link:visited {
  text-decoration: none;
  color: #009DFF;
}
.link:hover {
  filter: brightness(0.75);
  transition: 0.2s ease;
}

@media screen and (max-width: 992px) {
  .recipe {
    flex-direction: column;
    gap: 0;
    padding-bottom: 16px;
  }
  .title {
    float: center;
    text-align: center;
  }

}

@media screen and (max-width: 576px) {
  .list {
    margin-top: 250px;
  }
  .recipe {
    justify-content: center;
  }
  .buttonsContainer {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .buttonLink {
    width: 100%;
    box-sizing: border-box;
  }
}
