
<style>
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #4B3621;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 0 0 24px 24px;
    padding-bottom: 20px;
  }
  .appName {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: #F0F0F0;
  }
  .buttonLink, .buttonLink:visited {
    background-color: #F0F0F0; /* this is supposed to be the default button color */
    color: #4B3621;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
    margin: 20px 10px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .linkContainer {
    display: flex;
    margin: 10px 0;
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    .linkContainer {
      flex-direction: column;
    }
  }
  
</style>

<div class="navbar">
  <div>
    <p class="appName">Catálogo de receitas</p>
  </div>
  <div class="linkContainer">
    <div><a id="list" class="buttonLink" routerLink="/">Listagem de Receitas</a></div>
    <div><a id="add" class="buttonLink" routerLink="/add">Cadastro de Receitas</a></div>
  </div>
</div>

<router-outlet></router-outlet>
