<style>
  .descriptionContainer {
    width: 90%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .goBack, .goBack:visited  {
    background-color: #444444; /* this is supposed to be the defaukt button color */
    color: #F0F0F0;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
    float: left;
  }
  .content {
    margin: auto;
    padding-top: 20px;
    width: 50%;
  }
</style>

<div class="descriptionContainer">

  <a class="goBack" routerLink="/">Voltar</a>
  <div class="content">
    <h1>{{recipe.name}}</h1>
    <p>{{recipe.description}}</p>
    <img [src]="recipe.image" />
  </div>
 
</div>