<style>
  .menu {
    width: 50%;
    text-align: center;
    height: 100%;
    margin: 50vh auto auto auto;
    transform: translateY(-50%);
  }
  .buttonLink, .buttonLink:visited  {
    background-color: #444444; /* this is supposed to be the defaukt button color */
    color: #F0F0F0;
    text-decoration: none;
    border: solid;
    appearance: button;
    cursor: pointer;
  }
  .buttonContainer {
    margin: 20px 0 0 0;
  }
</style>

<div class="menu">
  <h1>Nova Receita</h1>
  <form>
    <p>Título</p>
    <input type="text" name="title" placeholder="Insira o título da receita..." />
    <p>Ingredientes</p>
    <textarea type="text" name="ingredients" placeholder="Digite aqui sua receita..." 
    rows="5" cols="16"></textarea>
    <p>Modo de preparo</p>
    <textarea type="text" name="preparation" placeholder="Digite aqui sua receita..." 
    rows="5" cols="16"></textarea>
    <p>Imagem</p>
    <input type="text" name="image" placeholder="Digite aqui o link para a imagem da sua receita..." />
    <div class="buttonContainer">
      <button type="submit">Publicar receita....</button>
    </div>
  </form>
</div>