<div class="formContainer">
  <h1>Cadastrar nova Receita</h1>
  <form (ngSubmit)="onSubmit(form)"
  #form="ngForm">
    <p class="label">Título</p>
    <input type="text" name="name" placeholder="Insira o título da receita..." 
    ngModel class="textInput" [ngClass]="{'warning': invalidFields[0]}"/>
    <p class="label">Descrição</p>
    <textarea class="textInput multiline" type="text" name="description" placeholder="Digite aqui sua receita..." 
    rows="5" cols="16" ngModel [ngClass]="{'warning': invalidFields[1]}"></textarea>
    <p class="label">URL da Imagem</p>
    <input type="text" name="image" placeholder="Digite aqui o link para a imagem da sua receita..." 
    ngModel [ngClass]="{'warning': invalidFields[2]}" class="textInput"/>
    <div class="buttonContainer">
      <button type="submit" class="submit">Cadastrar</button>
    </div>
  </form>
</div>